<div class="container">        <!-- 全体を囲むコンテナ -->

  <div class="card mb-4">
    <img src="<%=asset_path("hero.jpg")%>" class="card-img">
    <div class="card-img-overlay text-white d-flex flex-column justify-content-center ps-4">
      <div class="h1 mb-1">Share</div>
      <p class="mb-0 text-white-50">Happy people make happy fashion.</p>
    </div>
  </div>