<style>
body {
  background-color: #fce4ec; /* 薄いピンクの背景色 */
  padding: 20px;
}

.section {
  margin-bottom: 40px;
}

.profile-img {
  border-radius: 50%;
  max-width: 200px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-info {
  text-align: center;
}

.profile-section {
  margin-top: 20px; /* Add margin to the top of the profile section */
  border-top: 2px solid #ccc; /* Add a border at the top */
  padding-top: 20px; /* Add padding for spacing */
}

/* Add white underline to specific h4 elements */
h3.text-center.underline {
  text-decoration: underline white;
}

.smaller-image {
    max-width: 100%; /* 画像の最大幅 */
    height: auto; /* 高さを自動調整 */
}
</style>

<div class="container-fluid px-0">
  <!-- アプリの説明 -->
  <div class="section">
    <h1 class="text-center">What is "Share"?</h1>
    <br>
    <h3 class="text-center">”Share”とは、コーディネート写真投稿アプリです👗</h3>
    <br>
    <p class="text-center">写真を”Share"して、コーディネートのお悩み解決！</p>
    <p class="text-center">性別や年齢、仕事など関係なく、ファッションも自分らしく自由な時代だからこそ、</p>
    <p class="text-center">リアルなユーザーが発信するこのアプリを使えば、</p>
    <p class="text-center">参考になるコーディネートがきっと見つかるはず✨</p>
  </div>
  <div class="col-md-12 text-center">
    <img src="<%= asset_path("74c7c2a2306e5d4350ebe808ad84cd4e.gif") %>" class="smaller-image" alt="GIF Image">
  </div>
<br>
<br>
<br>
  <div class="section">
    <h3 class="text-center underline">"Share"するのは、コーディネートだけじゃない！</h3>
    <br>
    <p class="text-center">素敵な一言と複数のタグ付けが可能！</p>
    <p class="text-center">コーディネートのポイントがいくつかあったら、</p>
    <p class="text-center">複数のタグを付けて世界中に”Share"しよう🌐</p>
    <p class="text-center">詳細ページでは、コメントの投稿もできます！</p>
  </div>
<br>
  <div class="section">
    <h3 class="text-center underline">みんなが”Share”した投稿を検索し、お悩み解決！</h3>
    <br>
    <p class="text-center">検索することで、自分の悩みに合ったコーディネートを見つけることが出来ます！</p>
    <p class="text-center">例えば、気温、年代、シーンなど、、お悩みのキーワードを検索してみてください。</p>
    <p class="text-center">トップページでは、最も人気なタグの投稿をご紹介しています💐</p>
    
  </div>
<br>
  <div class="section">
    <h3 class="text-center underline">マイページで”Share”を実用的に！</h3>
    <br>
    <p class="text-center">マイページでは、自分の投稿だけではなく</p>
    <p class="text-center">いいねした投稿、フォローしたユーザーを一覧表示で確認できます🤍</p>
    <p class="text-center">とても便利な機能なので、ぜひ活用してみてください🪄</p>
  </div>
<br>
<br>
<!-- Sign UpとLoginボタンのセクション -->
  <div class="section text-center">
  <p class="text-center">新規登録やログインがまだの方はこちらから！</p>
    <div class="d-grid gap-2 col-md-4 mx-auto">
      <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-dark btn-lg me-md-2 mb-2 mb-md-0' %>
      <%= link_to 'Log in', new_user_session_path, class: 'btn btn-outline-secondary btn-lg' %>
    </div>
  </div>
<br>
<!-- 作成者のプロフィール -->
  <div class="section profile-section">
    <h3 class="text-center">＜About the Creator＞</h3>
    <br>
    <div class="row">
      <div class="col-md-12 text-center">
      <!-- 作成者の写真 -->
        <h5>Asuka Takeuchi</h5>
        <img src="<%= asset_path("IMG_2636.PNG") %>" alt="Profile Image" class="img-fluid profile-img">
      </div>
      <div class="col-md-12 profile-info">
        <!-- 作成者のプロフィール情報 -->
        <p>前職で、5年間ファッション業界に携わる。</p>
        <p>現在は、多くの方の生活を豊かに出来るサービスを作りたく、</p>
        <p>プログラミングを学習中です💻</p>
      </div>
    </div>
  </div>
</div>
