.comment-form{
  display: flex;
}

.comment-text{
  display: block;
  margin-top: 20px;
}

.comment-submit{
  display: block;
  margin-top: 20px;
}

.comment{
  display: flex;
  justify-content: center;
}

.comment p{
  margin: 0;
  text-align: center;
}

.user-info{
  color: gray;
  font-weight: bold;
}