/* ハートの初期スタイル（薄ピンク） */
.post_likes i {
  color: #ffcccc; /* 薄ピンク */
  font-size: 1.5em; /* 例えば、1.2emでサイズを大きく調整 */
}

/* いいねが付いている場合のスタイル（濃いピンク） */
.post_likes.active i {
  color: #ff1493; /* 濃いピンク */
  font-size: 1.5em; /* 同じく1.2emでサイズを大きく調整 */
}

/*カルーセルの画像サイズ*/
.carousel-item .img-fluid {
  width:100%;
  height:auto;
}

.carousel-item{
  height: auto;
}

.carousel-item a {
  display: block;
  width:100%;
}

.carousel-item .show-image {
  display: block;
  width:100%;
}

/* カスタムアスペクト比スタイル */
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc(75%); /* 4:3のアスペクト比の場合 */
  overflow: hidden;
}

.aspect-ratio-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.aspect-ratio-item img {
  width: 100%; /* 画像を100%に拡大せずに表示 */
  height: 100%; /* カードに合わせて高さを100%に設定 */
  object-fit: contain; /* 画像を縦横比を保ちつつ表示 */
}

/* 検索フォームと検索ボタン */
.search-form {
  display: flex;
    align-items: center;
}

.search-form .custom-search-input {
  flex: 3; /* 検索フォームの幅を広げます */
  margin-right: 10px; /* ボタンとの間に隙間を作ります */
  width: 100%; /* 幅を調整します */
}

 /* ページネーションのデザイン */
.text-center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination>li {
  display: inline-block;
  margin-right: 5px; /* ページネーションリンク間の間隔を調整 */
}

.pagination>li>a {
  border: none; /* 枠線をなくす */
  color: #696969; /* 文字の色を変える */
  padding: 5px 10px; /* ページネーションリンクの余白を調整 */
  text-decoration: none;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #ffcccc; /* 背景の色を変える */
  border-radius: 15px; /* 角を丸くする */
  color: #fff; /* 文字の色を変える */
}

/* ホバー時のデザイン */
.pagination>li>a:hover {
  border-radius: 15px; /* 角を丸くする */
}

/* 天気 */
.weather-info {
  width: 18vw; /* 横幅を50%に設定 */
  padding: 5px;
  border: none; /* 枠線を削除 */
}

.temperature {
  font-size: 0.85rem; /* テキストのフォントサイズを調整 */
  
}

/* ページトップの間隔 */
.navbar {
  min-height: auto; /* ナビゲーションバーの最小高さを設定 */
  padding-top: 10px; /* 上部の余白を設定 */
  padding-bottom: 10px; /* 下部の余白を設定 */
}

.container {
  padding-top: 30px; /* 上部の余白 */
  padding-bottom: 10px; /* 下部の余白 */
  padding-left: 0; /* 左側の余白を無くす */
  padding-right: 0; /* 右側の余白を無くす */
}

/* ログインフォーム要素を中央配置 */
.form-control {
  width: 100%;
  margin: auto;
  text-align: left;
}

/* ログインボタンの色を変更 */
.btn-primary {
  background-color: #93c9ff;
  border-color: #93c9ff;
}
